<h1>Lista de médicos</h1>
<form class="pure-form">
    <label for="codigo">Código:</label>
    <input type="text" id="codigo">
    <button type="button" (click)="get()" class="pure-button pure-button-primary">Pesquisar</button>
    <button type="button" (click)="create()" class="pure-button">Novo</button>
</form>
<table id="tabelaMedicos" class="pure-table pure-table-bordered">
    <thead>
        <tr>
            <th>Código</th>
            <th>Nome</th>
            <th>Data Nascimento</th>
            <th>CRM</th>
            <th></th>
        </tr>
    </thead>
    <tbody id="dadosTabelaMedico">
    </tbody>
</table>