<form>
    <input type="number" [(ngModel)]="numero1" name="numero1">
    <input type="number" [(ngModel)]="numero2" name="numero2">
    <button (click)="somar()">Somar</button>
    <button (click)="subtrair()">Subtrair</button>
    <button (click)="multiplicar()">Multiplicar</button>
    <button (click)="dividir()">Dividir</button>
    <button (click)="limpar()">Limpar</button>
    <label>Resultado: </label>
    <label [hidden]="this.divisaoPorZero">{{resultado}}</label>
    <label [hidden]="!this.divisaoPorZero">Não é possível dividir por zero</label>
</form>